<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% block style %}
    {% endblock %}
    <title>Document</title>
</head>
<body>

<div id="app">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
               <div class="navbar-header">

                    <!-- Collapsed Hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle Navigation</span>
                    </button>

                    <!-- Branding Image -->
                    <a class="navbar-brand">
                        Coc 数据平台
                    </a>
                </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="nav navbar-nav">
                    &nbsp;
                </ul>
                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right">
                    <!-- Authentication Links -->
                        <li><a>在做了，在做了，持续收集开发中</a></li>
                        <li><a>日常数据统计</a></li>
                        <li><a>赛季数据统计</a></li>
{#                        <li class="dropdown">#}
{#                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">#}
{#                                <span class="caret"></span>#}
{#                            </a>#}
{##}
{#                            <ul class="dropdown-menu">#}
{#                                <li>#}
{#                                    <a>Logout</a>#}
{##}
{#                                    <form id="logout-form" method="POST" style="display: none;">#}
{#                                        1#}
{#                                    </form>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </li>#}
                    </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</div>

<script src="https://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
    var protocol = window.location.protocol;
    var root_url = `${protocol}//${window.location.host}`;
    var full_url = `${root_url}${window.location.pathname}`;
</script>
{% block script %}
{% endblock %}
</body>
</html>